

h2{
    background-color: blue;
    width: 150px;
    transition: width 3s;
    animation-name: multiplecolors;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes colorswitch {
    from {background-color: aqua;};
    to {background-color: green;}

}
@keyframes multiplecolors{
    0%{background-color: red;}
    25%{background-color: green;}
    50%{background-color: teal;}
    75%{background-color: violet;}
    100%{background-color: aqua;}
}
#img {
    width: 80%;
    height: 100%;
}

#href {
    background-color: cadetblue;
}

h2:hover{
    background-color: rgb(12, 121, 12);
    width: 200px;
    font: large;
}

img:hover{
    width: 400px;
    height: 400px;
}

#milk{
    transform: translate(230px, -220px);
}

#bread{
    transform: translate(460px, -885px);
}

#tortillas{
    transform: translate(690px, -439px);
}

#lays{
    transform: translate(920px, -662px)
}